@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <h1>Welcome to Trello !</h1>
    <p>View my <a href="/Boards/Index">boards</a></p>
</div>
