@section Styles {
    <link href="@Url.Content("~/css/401.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "401";
}

<div id="div401">
    <h1>4<img src="~/images/snitching-tom.png">1</h1>
    <p>You should not be here !</p>
    <a href="/Home/Index">> Take me home <</a>
</div>