@section Styles {
    <link href="@Url.Content("~/css/404.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "404";
}

<div id="div404">
    <h1>4<img src="~/images/surprised-pikachu.png">4</h1>
    <p>The page you are looking for was moved or doesn't exists !</p>
    <a href="/Home/Index">> Take me home <</a>
</div>