<nav>
  <div id="header-logo">
    <a href="/"></a>
  </div>
  <div id="header-action">
    <a href="/Authentication/Login" id="header-login">Log in</a>
    <a href="/Authentication/Signup" id="header-signup">Sign up</a>
  </div>
</nav>