<nav class="flex-nav">
  <div class="flex-container">
    <a href="/"><span class="fas fa-home header-button"></span></a>
    <a href="/Boards/Index">
        <span class="header-button boards-link">
          <i class="fas fa-th-large"></i>
          <span class="boards-link-label">Boards</span> 
        </span>
    </a>
    <div>
      <input type="text" class="header-search">
      <span class="fas fa-search header-search-icon"></span>
    </div>
  </div>
  <div class="header-logo">
    <a href="/"><span></span></a>
  </div>
  <div class="flex-container">
    <a href="/"><span class="fas fa-plus header-button"></span></a>
    <a href="/"><span class="fas fa-info-circle header-button"></span></a>
    <a href="/"><span class="fas fa-bell header-button"></span></a>
    <a href="/"><span class="header-account">VH</span></a>
  </div>
</nav>