header {
    background-color: rgb(75, 191, 107);
}

div.home {
    background-color: rgb(75, 191, 107);
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    height: calc(100vh - 40px);
    justify-content: center;
}

div.home h1 {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 1000;
    margin: 0;
}

div.home a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

div.home a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}