nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  #header-logo {
    display: content !important;
    margin: 15px;
    display: block;
    float: left;
    background-image: url(https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png);
    background-size: 133px 50px;
    cursor: pointer;
    height: 45px;
    width: 120px;
    transition: opacity 0.1s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  #header-action {
    float: right;
    margin: 20px;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.09375rem;
      line-height: 1.5;
      font-weight: 600;
      user-select: none;
      padding: 0.375rem 0.75rem;

      &:hover {
        opacity: 0.9;
      }
    }

    #header-signup {
      border-radius: 3px;
      background-color: white;
      color: #0079bf;
    }
  }
}
