#home {
  background: linear-gradient(0deg, #5243aa 0%, #0079bf 100%);
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;

  h1 {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  #home-login-google {
    padding: 5px;
    border-radius: 3px;
    background: white;
    color: #4d4d4d;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-right: 12px;
    align-self: center;
    line-height: 27px;
    cursor: pointer;
    width: 200px;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    .icon {
      background-image: url(http://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png);
      background-size: 25px;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      float: left;
      margin: 0 5px 0 15px;
      display: inline-block;
    }
  }
}
