@mixin width-400 {
  max-width: 400px;
  width: 100%;
}

#signup-form {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
  font-size: 20px;

  .validation-summary, .validation-user {
    @include width-400;
    background: #eb5a46;
    color: #fbedeb;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    margin: 0 0 20px 0;

    span {
      margin: 5px 0 5px 10px;
      display: none;
    }

    ul {
      padding: 0 10px 0 10px;

      li {
        list-style: none;
        margin-bottom: 3px;
      }
    }
  }

  .flex-child {
    @include width-400;
    margin-bottom: 25px;

    a {
      color: #298fca;
      font-weight: 200;
      cursor: pointer;

      &:hover {
        color: #0c3953;
      }
    }
  }

  form {
    @include width-400;
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 3px;
  }

  label[for] {
    align-self: flex-start;
    color: #4d4d4d;
  }

  .input-form {
    @include width-400;
    background: #edeff0;
    border-radius: 4px;
    border: 1px solid #cdd2d4;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 5px 0 15px 0;
    height: 40px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px #cdd2d4;
    }
  }

  .input-validation-error {
    background: #FBEDEB;
    border: 1px solid #EC9488;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px #EC9488;
    }
  }

  #submit-signup {
    background: #5aac44;
    box-shadow: 0 2px 0 #3f6f21;
    color: white;
    border: none;
    border-radius: 3px;
    height: 40px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
      background: #4d923a;
    }

    &:disabled {
      cursor: not-allowed;
      background: #9b9b9b;
      box-shadow: 0 2px 0 #575757;
    }
  }

  .light-label {
    color: #888888;
    font-size: 15px;
    font-weight: 200;
  }
}
